*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: beige;
}

.conteiner {
  margin: 2%;
}
.header {
  position: relative;
  background-image: url(../img/natural-header.jpg);
  background-position: center;
  height: 50vh;
  margin: 3%;
}
.navbar nav ul {
  text-align: center;
  line-height: 10px;
}

.box-list {
  position: relative;
  text-align: center;
  background: yellow;
  margin: 1%;
  width: 30px;
  display: inline-block;
  list-style: none;
  line-height: 20px;
  background-position: center;
}
.mainbox {
  margin: 2%;
}
.mainbox::after {
  content: '';
  display: table;
  clear: both;
}
.col {
  float: left;

}
.sx {
  width: 20%;
  background: grey;
  margin: 10px;
}

.ch {
  width: 40%;
  background: orange;
  margin: 10px;
}

.dx {
  width: 20%;
  background: pink;
  margin: 10px;
}
.widget {
  margin: 5%;
}

.footer {
  height: 100px;
  background: blue;
}
