*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-image: url(../img/natural-pattern.png);
  background-size: cover;
  font-family: 'Nunito', sans-serif;
}

.conteiner {
  margin: 3% 20%;
}
.header {
  position: relative;
  background-image: url(../img/natural-header.jpg);
  background-position: center;
  height: 300px;
  border: 5px solid white;
}
/* logo */
.logo1 {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.logo1 img {
  height: 15  0px;
}
.logo1 h1 {
  font-size: 20px;
}
/* navbar */
.navbar nav ul {
  text-align: center;
  line-height: 40px;
  list-style: none;
  background-color: #504741;
}
.navbar nav ul li {
  display: inline-block;
  padding: 0 5px;
  color: #bab6b5;
  text-transform: uppercase;
  text-decoration: none;
  border-right: 1px solid white;
}
.navbar nav ul li:last-child{
  border-right: 0px
}
.navbar nav ul li:hover {
background-color: #302A25;
color: #C8C6C5;
}
.navbar ul li a {
  color: white;
  text-decoration: none;
  margin: 15px;
  font-size: 15px;
}
/* main */
.mainbox {
  margin: 10px 0;
}
.mainbox::after {
  content: '';
  display: table;
  clear: both;
}
/* inizio sezione colonne  */
.col {
  float: left;
}
/* colonna sx */
.sx {
  width: 20%;
  margin: 10px 0px;
  border-radius: 8px;
  background-color: white;
}
.linkstyle ul li a:hover {
  text-decoration: underline;
}
.linkstyle ul li a {
  color: green;
  text-decoration: none;
}
.linkstyle ul li {
  list-style: none;
  margin: 10px;
  margin-bottom: 15px;
}
.header3 i, span {
  margin: auto;
}
.header3 i {
  margin-right: 3px;
  font-size: 25px;
  color: orange;
}
/* colonna ch */
.ch {
  width: 40%;
  margin: 10px 10%;
  border-radius: 8px;
  background-color: white;
}
.ch p, h3{
  margin: 10px;
  text-align: left;
}
.ch h3 {
  font-size: 30px;
  text-shadow: 1px 2px 1px;
  color: rgb(69, 62, 56);
}
.ch p {
  line-height: 25px;
  font-size: 18px;
}

/* colonna dx */
.dx {
  width: 20%;
  margin: 10px 0px;
}
.dx .widget {
  margin-bottom: 20px;
  padding: 8%;
  background-color: white;
  border-radius: 8px;
  line-height: 25px;
}
.dx .widget h3 {
  margin-left: auto;
  font-size: 25px;
  text-shadow: 1px 2px 1px;
  color: rgb(69, 62, 56);
}
hr {
  height: 2px;
  background: grey;
  margin: 5px;
}
/* footer */
.footer {
  background: white;
}
.boxfooter {
  text-align: center;
  font-style: italic;
}
footer .icons:after {
  content: '';
  display: table;
  clear: both;
}
footer .icons .social-icon {
  float: left;
  font-size: 25px;
  width: calc(100% / 3);
  text-align: center;
  padding: 3%;
}
footer .icons .social-icon a {
  color: lightgrey;
}
footer .icons .social-icon a:hover {
  color: grey;
}
